#map {
  height: 100%;
}

html,
body {
  font-family: Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: floralwhite;
}

body > form {
  display: flex;
  /*justify-content:space-between;*/
  align-items: center;
  margin: 0.5rem 1rem;
  gap: 0.5rem;
}

.legend {
  font-size: small;
  margin: 0.5rem 1rem;
}

input[type=text] {
  padding: 5px 5px;
}

input[type=submit] {
  padding: 5px 12px;
}